nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/users') User
      li.nav-item.active
        a.nav-link(href='/products') Products
      li.nav-item.active
        a.nav-link Carts (#{countCart?countCart:0})
    a.nav-link(href='/auth/logout') Logout
    
