extends ../layouts/main
block content 
    .container
        h3 Form search
        a( href="/users/create" ) New
        form( action='/users/search', method='get' )
            .form-group(class="d-flex")
                input( class="form-control" name='q', value='', placeholder='enter something...' )
                button( class="btn btn-primary", type='submit' ) Search
        h3 Detail user 
        .user-table(style="margin-top: 10px; ")
            table(class="table")
                thead 
                    tr
                        th Avatar
                        th Name 
                        th Age 
                        th action
                tbody
                each user in users
                    tr 
                        td
                            img(src=user.image, width='64')
                        td=user.name
                        td=user.age
                        td
                            a(href="/users/"+user.id) show