.container
    h3 Form search
    a( href="/users/create" ) New
    form( action='/users/search', method='get' )
        input( name='q', value='', placeholder='enter something...' )
        button( type='submit' ) Search
    h3 Users list
    ul
        each user in users
            li=user.name