extends ../layouts/main
block content 
    .container
        h5 Detail user 
        .user-table(style="margin-top: 10px; ")
            table(class="table")
                thead 
                    tr
                        th Name 
                        th Age 
                        th Phone
                tbody 
                    tr 
                        td=user.name
                        td=user.age
                        td=user.phone